[Desktop Entry]
Version=0.1
Name=CS-Club-Game
Comment=Game created by VWCC Computer Science Club
Exec=
TryExec=
Icon=
Terminal=false
Type=Application
Categories=Game;
Keywords=Game;